
body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('фон.gif') center center fixed;
    background-size: cover;
}

.container {
    background-color: rgba(255, 255, 255, 0.7); /* Зроблено фон більш непрозорий */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.players {
    margin-bottom: 20px;
}

.numbers {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.player {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4285f4; /* Змінено колір фону кнопки */
    color: #ffffff; /* Змінено колір тексту кнопки */
    border: none;
    border-radius: 5px;
}

#result {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.player img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

h2, #userLabel, #computer h2 {
    font-weight: bold;
}